body{
	margin: 0;
	font-family: 'Roboto';
	background-color: #ddd;
}

/*PRELOADER*/
#loading{
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #fff url('../images/preloader.gif') no-repeat center;
    z-index: 99999;
}

#loading p{
    width: 100%;
    text-align: center;
    font-size: 25px;
    position: absolute;
}

/*HEADER*/
.heading{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	background-color: #fff;
	color: #FF7948;
}

/*MAIN*/
main{
    text-align: center;
}

.button{
    font-size: 20px;
    padding: 10px;
    color: #FF7948;
    background: #fff;
    border: 2px solid #FF7948;
}

canvas{
        margin-top: 10px;
    }

/*play again button*/       
    .text-center {
        text-align: center !important; }
    
    .m-2 {
        margin: 0.5rem !important; }
    
    .btn {
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
        @media (prefers-reduced-motion: reduce) {
          .btn {
            transition: none; } }
        .btn:hover {
          color: #212529;
          text-decoration: none; }
        .btn:focus, .btn.focus {
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(142, 67, 231, 0.25); }
        .btn.disabled, .btn:disabled {
          opacity: 0.65; }
    
    .btn-outline-primary {
        color: #FF7948;
        border-color: #FF7948; }
        .btn-outline-primary:hover {
          color: #fff;
          background-color: #FF7948;
          border-color: #FF7948; }
        .btn-outline-primary:focus, .btn-outline-primary.focus {
          box-shadow: 0 0 0 0.2rem rgba(142, 67, 231, 0.5); }
        .btn-outline-primary.disabled, .btn-outline-primary:disabled {
          color: #FF7948;
          background-color: transparent; }
        .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
        .show > .btn-outline-primary.dropdown-toggle {
          color: #fff;
          background-color: #FF7948;
          border-color: #FF7948; }
          .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
          .show > .btn-outline-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(142, 67, 231, 0.5); }
    
            .btn-style {
                padding: 12px 35px;
                font-size: 18px;
                line-height: 28px;
                text-transform: capitalize;
                font-weight: 400;
                transition: 0.3s ease-in;
                border-radius: var(--border-radius); }


/*Arrow keys*/
    @import url(https://fonts.googleapis.com/css?family=Lato:300);

    .keys {
        font-family: 'Lato', sans-serif;
        text-align: center;
        width: 500px;
        height: 200px;
        margin: auto;
   }
    .arr {
        cursor: pointer;
        width: 100px;
        height: 100px;
        text-align: center;
        line-height: 100px;
        background: grey;
        color: white;
        font-size: 50px;
        border-right: 10px solid #4d4d4d;
        border-bottom: 10px solid #4d4d4d;
        border-left: 10px solid #5a5a5a;
        border-top: 10px solid #676767;
        display: inline-block;
        margin: 5px;
        transition: all 0.05s linear;
        user-select: none;
   }
    .arr:active {
        border-bottom: 8px solid #4d4d4d;
        text-shadow: 0 0 10px white, 0 0 10px white, 0 0 20px white;
        transform: translate(0, 2px);
   }
    .up {
        position: relative;
        top: -4px;
   }
    .pressed {
        border-bottom: 8px solid #4d4d4d;
        text-shadow: 0 0 10px white;
        transform: translate(0, 2px);
   }
    .names {
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        text-align: center;
        color: #000;
        text-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white;
   }
    .b {
        color: blue;
        text-shadow: 0 0 10px blue, 0 0 10px blue, 0 0 10px blue, 0 0 10px blue;
        font-size: 100px;
        font-family: serif;
   }
    .a {
        color: yellow;
        text-shadow: 0 0 10px yellow, 0 0 10px yellow, 0 0 10px yellow, 0 0 10px yellow;
        font-size: 100px;
        font-family: serif;
   }
    
